    <header class="global-header header-layout2">
        <div class="sticky-wrapper2">
            <!--=====Main Menu Area -->
            <div class="container">
                <div class="menu-area">
                    <div class="row gy-5 align-items-center justify-content-between">
                        <div class="col-xxl-2 col-xl-2 col-auto">
                            <div class="header-logo">
                                <a href='index.html'>
                                    <img src="assets/images/logo/logo-home-2.svg" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-xxl-5 col-xl-6 col-auto">
                            <nav class="main-menu d-none d-xl-inline-block">
                                <ul>
                                    <!-- <li class="menu-item-has-children">
                                        <a href='#'>Home
                                        </a>
                                        <ul class="sub-menu">
                                            <li><a href='index.html'>Home One</a></li>
                                            <li><a href='index2.html'>Home Two</a></li>
                                        </ul>
                                    </li> -->
                                    <li class="menu-item-has-children">
                                        <a href='#'> Pages
                                        </a>
                                        <ul class="sub-menu">
                                            <li><a href='about.html'>About Codemy</a></li>
                                            <li><a href='instractor.html'>Our Instructor</a></li>
                                            <li><a href='top-mentors.html'>Top Mentors</a></li>
                                            <li><a href='shop.html'>Shop</a></li>
                                            <li><a href='shop-details.html'>Shop Details</a></li>
                                            <li><a href='faq.html'>Faq</a></li>
                                            <li><a href='cart.html'>Cart Page</a></li>
                                            <li><a href='wishlist.html'>Wishlist</a></li>
                                            <li><a href='checkout.html'>Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href='#!'>Courses
                                        </a>
                                        <ul class="sub-menu">
                                            <li><a href='courses.html'>Courses</a></li>
                                            <li><a href='courses-list.html'>Course List</a></li>
                                            <li><a href='course-details.html'>Course Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href='#'> Event</a>
                                        <ul class="sub-menu">
                                            <li><a href='event.html'>Event</a></li>
                                            <li><a href='event-details.html'>Event Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href='#'> Blog</a>
                                        <ul class="sub-menu">
                                            <li><a href='blog.html'>Blog Grid</a></li>
                                            <li><a href='blog2.html'>Blog Standard</a></li>
                                            <li><a href='blog-details.html'>Blog Details</a></li>
                                        </ul>
                                    </li>

                                    <li><a href='contact.html'>Contact</a></li>
                                </ul>
                            </nav>
                            <div class="header-button d-flex d-xl-none">
                                <button type="button" class="global-menu-toggle sidebar-btn">
                                    <i class="fa-solid fa-bars"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
