    <div class="global-menu-wrapper onepage-nav">
        <div class="global-menu-area text-center">
            <button class="global-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href='index.html'>
                    <img src="assets/images/logo/logo-home-1.svg" alt="logo">
                </a>
            </div>
            <nav class="global-mobile-menu">
                <ul>
                    <!-- <li class="menu-item-has-children">
                        <a href='#'>Home</a>
                        <ul class="sub-menu">
                            <li><a href='index.html'>Home One</a></li>
                            <li><a href='index2.html'>Home Two</a></li>
                        </ul>
                    </li> -->
                    <li><a href='about.html'>About Me</a></li>
                    <li class="menu-item-has-children">
                        <a href='#'> Pages</a>
                        <ul class="sub-menu">
                            <li><a href='instractor.html'>Our Instructor</a></li>
                            <li><a href='top-mentors.html'>Top Mentors</a></li>
                            <li><a href='shop.html'>Shop</a></li>
                            <li><a href='shop-details.html'>Shop Details</a></li>
                            <li><a href='faq.html'>Faq</a></li>
                            <li><a href='cart.html'>Cart Page</a></li>
                            <li><a href='wishlist.html'>Wishlist</a></li>
                            <li><a href='checkout.html'>Checkout</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href='#!'>Courses</a>
                        <ul class="sub-menu">
                            <li><a href='courses.html'>Courses</a></li>
                            <li><a href='courses-list.html'>Courses List</a></li>
                            <li><a href='course-details.html'>Courses Details</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href='#!'>Event</a>
                        <ul class="sub-menu">
                            <li><a href='event.html'>Event</a></li>
                            <li><a href='event-details.html'>Event Details</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href='#'> Blog</a>
                        <ul class="sub-menu">
                            <li><a href='blog.html'>Blog</a></li>
                            <li><a href='blog2.html'>Blog Two</a></li>
                            <li><a href='blog-details.html'>Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href='contact.html'>Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
